* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 50px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    border: none;
    border-radius: 10px;
}

#login {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.nim-input,
.pas-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}